server:
    port: 8080
    address: 0.0.0.0
spring:
    application:
        name: backend

    datasource:
        url: ${SPRING_DATASOURCE_URL}
        username: ${SPRING_DATASOURCE_USERNAME}
        password: ${SPRING_DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true

    cache:
        type: caffeine
    caffeine:
        spec: maximumSize=1000,expireAfterWrite=10m

# Email service configuration
brevo:
    api-key: ${BREVO_API_KEY}
    from-email: ${BREVO_FROM_EMAIL}
    from-name: ${BREVO_FROM_NAME:QnuQuiz Team}

jwt:
    secret: ${JWT_SECRET}

admin:
    username: ${ADMIN_USERNAME}
    password: ${ADMIN_PASSWORD}
