server:
    port: 8080
    address: 0.0.0.0
spring:
    application:
        name: backend

    datasource:
        url: jdbc:h2:file:./data/qnuquiz;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
        driverClassName: org.h2.Driver
        username: sa
        password:

    h2:
        console:
            enabled: true
            path: /h2-console

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true

    cache:
        type: caffeine
    caffeine:
        spec: maximumSize=1000,expireAfterWrite=10m

jwt:
    secret: TRUONG-TRUNG-PHUC-PHUOC-VINH-THI-TUYET

admin:
    username: admin
    password: 123456
