server:
    port: 8080
    address: 0.0.0.0
spring:
    application:
        name: backend

    datasource:
        url: ${SPRING_DATASOURCE_URL}
        username: ${SPRING_DATASOURCE_USERNAME}
        password: ${SPRING_DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true

    cache:
        type: caffeine
    caffeine:
        spec: maximumSize=1000,expireAfterWrite=10m
    mail:
        host: ${MAIL_HOST:smtp.gmail.com}
        port: ${MAIL_PORT:587}
        username: ${MAIL_USERNAME:}
        password: ${MAIL_PASSWORD:}
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true

jwt:
    secret: ${JWT_SECRET}

admin:
    username: ${ADMIN_USERNAME}
    password: ${ADMIN_PASSWORD}
